*.log
*.tlog
*.obj
*.idb
*.pdb
*.opensdf
*.suo
*.sdf
*.exe
*.lastbuildstate
*.ilk
*.out
*.vcxproj.filters
*.vcxproj.user
*.unsuccessfulbuild
cabal.project.local
*~
.ghc.environment.*

haskell/dist/
haskell/dist-newstyle/
typescript/dist/
typescript/node_modules/